# Rust
/target/
**/*.rs.bk
*.pdb

# IDE
## JetBrains
.idea/
*.iml

## Zed (keep .zed/)
.zed/*
### but allow configs
!.zed/debug.json
!.zed/tasks.json

## VS Code
.vscode/settings.json

# Swap
*.swp
*.swo
*~
.DS_Store

# Testing
*.profraw
*.profdata

# Build artifacts
*.deb
*.rpm
*.tar.gz

docs/
.rules
